##############################
## JAVA
##############################
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*

##############################
## MAVEN
##############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
pom.xml.bak
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

##############################
## GRADLE
##############################
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
##############################
## INTELLIJ IDEA
##############################
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

/debug.log
reports/
null/